In [7]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [3]:
df = pd.read_csv('WA_Marketing-Campaign.csv')

In [4]:
df.head()

,MarketID,MarketSize,LocationID,AgeOfStore,Promotion,week,SalesInThousands
0,1,Medium,1,4,3,1,33.73
1,1,Medium,1,4,3,2,35.67
2,1,Medium,1,4,3,3,29.03
3,1,Medium,1,4,3,4,39.25
4,1,Medium,2,5,2,1,27.81

In [5]:
df.shape

(548, 7)

In [6]:
df.isnull().sum()

MarketID            0
MarketSize          0
LocationID          0
AgeOfStore          0
Promotion           0
week                0
SalesInThousands    0
dtype: int64

In [8]:
df.columns

Index(['MarketID', 'MarketSize', 'LocationID', 'AgeOfStore', 'Promotion',
       'week', 'SalesInThousands'],
      dtype='object')

In [10]:
group1=df[df['Promotion']==1]['SalesInThousands']
group2=df[df['Promotion']==2]['SalesInThousands']
group3=df[df['Promotion']==3]['SalesInThousands']

In [11]:
f_stat, p_value= f_oneway(group1,group2, group3)

In [13]:
p_value <0.05

np.True_

In [17]:
if p_value <0.05:
    print('One Group Has different Sales mean')
else:
    print('All Groups have same performance')

One Group Has different Sales mean

## Post-Hoc Analysis with Tukey's HSD

In [18]:
tukey_data= df[['Promotion', 'SalesInThousands']]

In [19]:
tukey_result = pairwise_tukeyhsd(endog=tukey_data['SalesInThousands'],
                                groups=tukey_data['Promotion'],
                                alpha=0.05)

In [21]:
print(tukey_result)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     1      2 -10.7696    0.0 -14.7738 -6.7654   True
     1      3  -2.7345 0.2444  -6.7388  1.2697  False
     2      3   8.0351    0.0   4.1208 11.9493   True
-----------------------------------------------------